<div class="category-header">
  <div class="category-title">
    <h1>勉強</h1>
  </div>
  <div class="category-sub">
    <p>〜Let's Learn〜</p>
  </div>
  <%= render 'shared/category_header' %>
  <div class="category-form">
    <%= render "shared/category_form" %>
    <%= form_with url: new_learn_path, method: :get, local: true do |f| %>
      <%= f.submit "投稿する", class: "habit-btn" %>
    <% end %>
  </div>
  <div class="habit-lists">
    <select onChange="location.href=value;" class="habit-list">
      <option>カテゴリーを選択してください</option>
      <option value=<%= exercises_path %>>運動</option>
      <option value=<%= daiets_path %>>ダイエット(体重管理)</option>
      <option value=<%= savings_path %>>節約</option>
      <option value=<%= minds_path%>>マインドフルネス瞑想</option>
    </select>
  </div>
</div>
<%= render "shared/category_index" %>
<div class="habits">
  <div class="habit">
  <% @learns.each do |learn| %>
    <div class="habit-user">
      <b><%= learn.user.nickname %>さんの投稿</b>
    </div>
    <div class="habit-contents">
      <div class="habit-text">
        <%= simple_format(learn.text) %>
      </div>
      <div class="habit-image">
       <%= image_tag learn.image.variant(resize: '500x500') if learn.image.attached? %>
      </div>
    </div>
  <% end %>
  </div>
</div>