<div class="category-header">
  <div class="category-title">
    <h1>瞑想</h1>
  </div>
  <div class="category-sub">
    <p>〜Let's meditation〜</p>
  </div>
  <%= render 'shared/category_header' %>
  <div class="category-form">
    <%= form_with(url: search_minds_path, local: true, method: :get, class: 'search_form') do |f| %>
      <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-field" %>
      <%= f.submit "検索する", class: "search-btn" %>
    <% end %>
    <%= form_with url: new_mind_path, method: :get, local: true do |f| %>
      <%= f.submit "投稿する", class: "habit-btn" %>
    <% end %>
  </div>
  <div class="habit-lists">
    <select onChange="location.href=value;" class="habit-list">
      <option>移動したいカテゴリーを選択してください</option>
      <option value=<%= exercises_path %>>運動</option>
      <option value=<%= daiets_path %>>ダイエット</option>
      <option value=<%= learns_path %>>勉強</option>
      <option value=<%= savings_path %>>節約</option>
      <option value=<%= earlies_path %>>早起き</option>
    </select>
  </div>
</div>
<div class="habits">
  <div class="habit">
  <% @minds.each do |mind| %>
    <div class="habit-user">
      <b><%= link_to mind.user.nickname, user_path(mind.user_id), class: "habit_user_link" %>さんの積み上げ</b>
    </div>
    <%= link_to mind_path(mind.id), class: "habit_link" do %>
      <div class="habit-contents">
        <div class="habit-text">
          <%= simple_format(mind.text) %>
        </div>
        <div class="habit-image">
          <%= image_tag mind.image.variant(resize: '500x500') if mind.image.attached? %>
        </div>
        <div class="habit-time">
          <%= mind.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>