<div class="wrapper">
  <div class="header">
      <ul class="header-lists">
        <% if user_signed_in? %>
          <li class="header-user">
            <%= link_to "#{current_user.nickname}", user_path(current_user.id), class: "header_user_name" %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "header-list" %>
          </li>
        <% else %>
          <li>
            <%= link_to 'ログイン', new_user_session_path, class:"header-list" %>
          </li>
          <li>
            <%= link_to '新規登録', new_user_registration_path, class: "header-list" %>
          </li>
        <% end %>
          <li>
            <select onChange="location.href=value;" class="header-list">
              <option value="#">カテゴリーを選択してください</option>
              <option value=<%= exercises_path %>>運動</option>
              <option value=<%= daiets_path %>>ダイエット</option>
              <option value=<%= learns_path %>>勉強</option>
              <option value=<%= savings_path %>>節約</option>
              <option value=<%= minds_path %>>瞑想</option>
              <option value=<%= earlies_path %>>早起き</option>
            </select>
          </li>
      </ul> 
      <%= link_to image_tag("logo.png", class: "header-image", height: "80", width: "200", alt: "積みログ"), root_path %>
  </div>
</div>
<div class="main-wrapper">
  <div class ="main-upper">
    <div class="main-image">
      <div class="main-catchcopy">
        <h1>Improve the quality of life</h1>
      </div>
    </div>
  </div>
  <div class="main-contents">
    <h2 class="catch-copy">人生を変える習慣化アプリ</h2>
    <p class="concept">積みログは「みんなと習慣を作る」をコンセプト元に作成された、</p>
    <p class="app-concept">「習慣化アプリ」です</p>
  </div>
<div class="main">
  <div class="explain">
    <h1 class="about">積みログの特徴</h1>
    <div class="about-image">
       <img class="left-explain" src="https://renai-torisetsu.net/wp-content/uploads/2017/07/2-1-2-500x334.jpg">
       <img class="center-explain" src="https://www.keieiryoku.jp/img/catch/000100.jpg">
       <img class="right-explain" src="https://is702.jp/main/special/3502/images/special_main.jpg">
    </div>
     <ul class="about-lists">
      <li class="about-left">シンプルで感覚的に使える！</li>
      <li class="about-center">同じ目標のカテゴリーを選択！</li>
      <li class="about-right">習慣を投稿してシェアし合うおう！</li>
     </ul>
  </div>
</div>
<div class="promotion">
  <div class="promotion-content">
    <%= image_tag("logo.png", class: "promotion-image", height: "80", width: "200", alt: "積みログ") %>  
    <h1 class="promotion-text">今すぐアプリを使ってみよう！</h1>
    <p>※ 扉をクリックでスタート！</p>
  </div>
</div>

<%#結合テスト時のみ表示させる %>
<%#= render 'test' %>

<div class="main-lower">
    <div class="main-category">
      <div class="category-titles">
        <p>運動</p>
        <p>ダイエット</p>
        <p>勉強</p>
      </div>
      <div class="categories">
        <%= link_to image_tag("category.jpg", class: "door-image", alt: "運動"), exercises_path %> 
        <%= link_to image_tag("category.jpg", class: "door-image", alt: "ダイエット(体重管理)"), daiets_path %> 
        <%= link_to image_tag("category.jpg", class: "door-image", alt: "勉強"), learns_path %>
      </div>
      <div class="category-titles-under">
        <p>節約</p>
        <p>瞑想</p>
        <p>早起き</@>
      </div>
      <div class="categories-under">
        <%= link_to image_tag("category.jpg", class: "door-image", alt: "節約"), savings_path %>
        <%= link_to image_tag("category.jpg", class: "door-image", alt: "マインドフルネス瞑想"), minds_path %>
        <%= link_to image_tag("category.jpg", class: "door-image", alt: "早起き"), earlies_path %>
      </div>
    </div>
  </div>
</div>
<div class="footer-wrapper">
  <div class="footer">
    <%= render "shared/footer" %>
  </div>
</div>
