<%= form_with model: saving, local: true do |f| %>        
  <div class="new-habit-text">
    <%= f.text_area :text, atuofocus: true, rows: 10, placeholder: "今日積み上げた習慣など投稿してみよう！", class: "new-text" %>
   </div>
   <div class="new-habit-btn">
     <div class="new-habit-image">
       <span class="image-file"><%= f.label :image, '画像' %></span>
       <%= f.file_field :image, class: "hidden_image" %>
     </div>
     <%= f.submit '投稿する', class: "habit-submit" %>
   </div>
<% end %>