<div class="category-header">
  <div class="category-title">
    <h1>節約</h1>
  </div>
  <div class="category-sub">
    <p>〜Let's save money〜</p>
  </div>
  <%= render 'shared/category_header' %>
  <div class="category-form">
    <%= render "shared/category_form"%>
    <%= form_with url: new_saving_path, method: :get, local: true do |f| %>
      <%= f.submit "投稿する", class: "habit-btn" %>
    <% end %>
  </div>
  <div class="habit-lists">
    <select onChange="location.href=value;" class="habit-list">
      <option>移動したいカテゴリーを選択してください</option>
      <option value=<%= exercises_path %>>運動</option>
      <option value=<%= daiets_path %>>ダイエット</option>
      <option value=<%= learns_path %>>勉強</option>
      <option value=<%= minds_path%>>瞑想</option>
      <option value=<%= earlies_path %>>早起き</option>
    </select>
  </div>
</div>
<div class="habits">
  <div class="habit">
  <% @savings.each do |saving| %>
    <div class="habit-user">
      <b><%= saving.user.nickname %>さんの積み上げ</b>
    </div>
    <%= link_to saving_path(saving.id), class: "habit_link" do %>
      <div class="habit-contents">
        <div class="habit-text">
          <%= simple_format(saving.text) %>
        </div>
        <div class="habit-image">
          <%= image_tag saving.image.variant(resize: '500x500') if saving.image.attached? %>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>