<div class="category-header">
  <div class="category-title">
    <h1>ダイエット(体重管理)</h1>
  </div>
  <div class="category-sub">
    <p>〜Let's Daiet〜</p>
  </div>
  <%= render 'shared/category_header' %>
  <div class="category-form">
    <%= render "shared/category_form" %>
    <%= form_with url: new_daiet_path, method: :get, local: true do |f| %>
      <%= f.submit "投稿する", class: "habit-btn" %>
    <% end %>
  </div>
  <div class="habit-lists">
    <select onChange="location.href=value;" class="habit-list">
      <option>カテゴリーを選択してください</option>
      <option value=<%= exercises_path %>>運動</option>
      <option value=<%= learns_path %>>勉強</option>
      <option value=<%= savings_path %>>節約</option>
      <option value=<%= minds_path%>>マインドフルネス瞑想</option>
      <option value=<%= savings_path %>>早起き</option>
    </select>
  </div>
</div>
<div class="habits">
  <div class="habit">
  <% @daiets.each do |daiet| %>
    <div class="habit-user">
      <b><%= daiet.user.nickname %>さんの積み上げ</b>
    </div>
    <div class="habit-contents">
      <div class="habit-text">
        <%= simple_format(daiet.text) %>
      </div>
      <div class="habit-image">
        <%= image_tag exercise.image.variant(resize: '500x500') if daiet.image.attached? %>
      </div>
    </div>
  <% end %>
  </div>
</div>